.hero-section_container {
  display: flex;
  border: 1px solid;
}

.hero-section_image {
  border: 1px solid;
}

.hero-section_text {
  border: 1px solid;
}

.hero-section_brands {
  display: flex;
  border: 1px solid;
}

.hero-section_image img {
  display: block;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .hero-section_container {
    flex-direction: column;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .hero-section_container {
    height: 45rem;
    flex-flow: column wrap;
  }

  .hero-section_text,
  .hero-section_brands {
    flex: 0 1 50%;
  }

  .hero-section_image {
    flex: 1 0 100%;
    order: 3;
  }

  .hero-section_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  .hero-section_text {
  }

  .hero-section_brands {
  }
}
