.hero-section_container {
  display: flex;
  border: 1px solid;
}

/* New lesson be sure to place the height for the img element to actually inherit the size */
.hero-section_image {
  height: inherit;
  border: 1px solid;
}

.hero-section_text {
  border: 1px solid;
}

.hero-section_brands {
  display: flex;
  border: 1px solid;
}

.hero-section_image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .hero-section_container {
    flex-direction: column;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .hero-section_container {
    height: 50rem;
    margin: auto 8rem;
    flex-flow: column wrap;
  }

  .hero-section_text {
    flex: 0 1 90%;
  }

  .hero-section_brands {
    flex: 0 1 10%;
  }

  .hero-section_image {
    flex: 1 0 100%;
    order: 3;
  }
}
