.navbar-container {
  display: flex;
  font-family: var(--font-family);
  height: 4rem;
  padding: 20px;
  border: 1px solid;
}

.navbar-desktop-container {
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 3.125rem;
  border: 1px solid;
}

.navbar-desktop-menu {
  display: flex;
  border: 1px solid;
}

.navbar-desktop-login {
  border: 1px solid;
}
