/* General CSS */
.navbar-greyout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.navbar-container {
  display: flex;
  font-family: var(--font-family);
  font-size: 18px;
  height: 4rem;
  padding: 20px;
  justify-content: space-between;
  
  border: 1px solid;
}

.navbar-container p {
  margin-right: 2rem;
}

.navbar-container a {
  text-decoration: none;
  color: var(--medium-gray);
}

.navbar-container p:hover {
  filter: brightness(0);
}

.navbar-container a img {
  margin-left: 5px;
}

.navbar-feature-subsection,
.navbar-feature-subsection-two {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.navbar-feature-subsection a,
.navbar-feature-subsection-two a {
  padding: 10px 0;
}

.navbar-feature-subsection img {
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Desktop CSS*/
.navbar-desktop-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 3.125rem;
}

.navbar-desktop-menu {
  flex: 0 1 60%;
  display: flex;
}

.navbar-desktop-login {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex: 0 1 10%;
}

.navbar-desktop-login a:hover {
  color: var(--almost-black);
}

.navbar-desktop-login a:nth-child(2) {
  position: relative;
  width: 100px;
  height: 40px;
  padding: 10px 0;
  bottom: 11px;
  border-radius: 15px;
  border: 2px solid;
}

/* Mobile CSS */
.navbar-mobile-toggle {
  position: relative;
  z-index: 1000;
}

.navbar-mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  padding-top: 4rem;
  min-width: 15.125rem;
  height: 100%;
  background: var(--almost-white);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  border: 1px solid;
}

.navbar-mobile_login {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 80px;
}

.navbar-mobile_login a {
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
}

.navbar-mobile_login a:nth-child(2) {
  border-radius: 15px;
  border: 2px solid;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .navbar-desktop-container {
    display: none;
  }

  .navbar-container p {
    margin-top: 1rem;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .navbar-mobile-container {
    display: none;
  }

  .navbar-feature-subsection,
  .navbar-feature-subsection-two {
    position: fixed;
    background: var(--almost-white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 10px 25px;
  }

  .navbar-feature-subsection {
    top: 35px;
    left: 90px;
  }

  .navbar-feature-subsection-two {
    top: 35px;
    left: 300px;
  }
}
