/* General CSS */
.navbar-container {
  display: flex;
  font-family: var(--font-family);
  font-size: 18px;
  height: 4rem;
  padding: 20px;
  justify-content: space-between;
  border: 1px solid;
}

.navbar-container a {
  text-decoration: none;
  color: var(--medium-gray);
}

.navbar-container a img {
  margin-left: 5px;
}

.navbar-feature-subsection {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.navbar-feature-subsection a {
  height: 40px;
}

.navbar-feature-subsection img {
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Desktop CSS*/
.navbar-desktop-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 3.125rem;
  border: 1px solid;
}

.navbar-desktop-menu {
  flex: 0 1 60%;
  display: flex;
  border: 1px solid;
}

.navbar-desktop-login {
  flex: 0 1 20%;
  border: 1px solid;
}

/* Mobile CSS */
.navbar-mobile-toggle {
  position: relative;
  z-index: 1000;
}

.navbar-mobile_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  padding-top: 4rem;
  min-width: 15.125rem;
  height: 100%;
  background: var(--almost-white);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  border: 1px solid;
}

.navbar-mobile_login {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 80px;
}

.navbar-mobile_login a {
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
}

.navbar-mobile_login a:nth-child(2) {
  border-radius: 15px;
  border: 2px solid;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .navbar-desktop-container {
    display: none;
  }

  .navbar-container p {
    margin-top: 1rem;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .navbar-mobile-container {
    display: none;
  }

  .navbar-feature-subsection {
    position: absolute;
  }
}
